.pagenation {
    @include mt(155px);
    text-align: center;
    position: relative;

    .page-numbers {
        @include width(40px);
        @include height(40px);
        border-radius: 4px;
        border: 1.5px solid $gray4;
        line-height: 40px;
        text-align: center;
        @include fs(18px);
        font-weight: $bold;
        font-family: $open;

        &.current {
            background: $gray4;
        }
    }

    .next {
        @include position();
        content: "";
        @include left(50%);
        @include tx(-50%);
        @include top(-80px);
        @include max-width(440px);
        @include width(100%);
        background: $blue1;
        border-radius: 28px;
        color: $white;
        @include fs(16px);
        font-weight: $bold;
        @include height(56px);
        line-height: (56px);
        transition: all 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    .prev {
        display: none;
    }
}